<h1>Summary</h1>
<p>
  Number of sales<b><%= @seller.num_sales %></b>
</p>  
<p>
  Total sales value<b><%= @seller.total_sales %></b>
</p>  
<p>
  Average price<b><%= @seller.total_sales / @seller.num_sales  %></b>
</p>  